body {
    font-family: Arial, sans-serif;
}

.datos-servicio {
    max-width: 800px;
    margin: 0 auto;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
}

h3 {
    color: #333;
}

p {
    color: #555;
}

/* Estilos específicos */
.ubicacion,
.horario,
.pedido,
.contacto,
.entrega,
.pedido-formas,
.formas-pago,
.promociones,
.redes-sociales {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
